
.navbar{
    width: 100%;
    height:80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; 
    text-align: center;  
}
.navbar .imgbar{
    height:50%;
    width:12%;
    margin-top: 20px;   
}
body{
    background-color: rgb(249, 246, 246);
    margin:0;
}
.checkoutPage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid black; */
}
.offer{
    width:300px;
    height:470px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; 
    /* border: 1px solid black; */
}

.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width: 50em;
    height:36em;
    padding: .5em;
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border:none;
    display:block;
    }
    
    .myForm * {
    box-sizing: border-box;
    }
    
    .myForm legend,
    .myForm label {
    padding: 0;
    font-weight: bold;
    }
    
    .myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
    }
    
    .myForm label {
    text-align: left;
    display: block;
    }
    
    .myForm input[type="text"],
    .myForm input[type="number"],
    .myForm input[type="email"],
    .myForm input[type="datetime-local"],
    .myForm select,
    .myForm textarea {
    float: right;
    width: 60%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
    }
    
    .myForm textarea {
    height: 100px;
    }
    
    .myForm input[type="radio"],
    .myForm input[type="checkbox"] {
    margin-left: 40%;
    }
    
    .myForm button {
    padding: 1.2em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1.8em;
    }
    
    .myForm button:hover {
    background: #ccc;
    cursor: pointer;
    }
    .myForm button:last-child:hover{
        background: rgb(10, 173, 10);
        color:white;
    }

    .satisfaction{
        display: flex;
    }
    .satisfaction >div{
        font-size: 12px;
        margin: auto;
        
    }
    .satisfaction img{
        width:40px;
    }
    .satisfaction div h3:nth-child(1){
        color:rgb(50, 122, 200);
    }
    .satisfaction div h3:nth-child(2){
        width:90%;
    }
.one{
    display: flex;
    justify-content: space-evenly;
    gap:100px;
}
.two{
    display: flex;
    justify-content: space-evenly;
    gap:100px;
}
.box2{
    width:80%;
    height:30%;
    display: flex;
    margin: auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.box2 div img{
    width:100%;
    height:100%;
}
.box2 div h5,h6{
    text-align: left;
    margin-left: 5px;
}
.coupon{
    margin: auto;
    margin-top: 10px;
    margin-left: 60px;
}
.submit-btn{
    margin-top: 10px;
    margin-left: 100px;
}

@media all and (min-width:320px) and (max-width:720px){
    .checkoutPage{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* border: 1px solid black; */
    }
}