@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

.navbar{
    font-family: 'DM Sans', sans-serif;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1.5px solid rgb(246, 247, 248);
    z-index: 100;
}

.navbar_left{
    display: flex;
    align-items: center;
    
}
.navbar_left > div{
    margin: 0 13px;
}
.menu{
    cursor: pointer;
    font-size: 24px;
}
.allStore{
    cursor: pointer;
    font-size: 14px;
    color: #72767E;
}
.navLogo > img{
    cursor: pointer;
    width: 120px;
}
.deliveryBtn{
    cursor: pointer;
    display: flex;
    background-color: #f6f7f8;
    border-radius: 25px;
    font-weight: 500;
    padding-left: 20px;
    color: #343538;
    align-items: center;
}
.deliveryBtn > div{
    background-color: #fff;
    padding: 8px 15px;
    border: 2px solid #343538;
    border-radius: 25px;
    margin-left: 10px;
}
.navbar_right{
    display: flex;
    align-items: center;
}
.navbar_right > div{
    margin: 0 10px;
    color: #343538;
    font-weight: 500;
}
.navbar_right >.pickup {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.navbar_right >.pickup svg{
    padding-right: 5px;
}
.navbar_right >.readyBy8{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.navbar_right >.readyBy8 svg{
    padding-right: 5px;
}
.navbar_right > button{
    cursor: pointer;
    background-color: rgb(10, 173, 10);
    border: 0;
    margin: 0px 12px;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 24px;
    color: #fff;
}
.navbar_right > button:hover{
    background-color: rgb(0, 153, 0);
}
.navbar_right > .cart{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f6f7f8;
    border: 0;
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 24px;
    color: #343538;
}
.navbar_right > .cart span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.navbar_right > .cart i{
    padding-right: 5px;
    font-size: 22px;
}